@model MeetingInfo
@{
    ViewBag.Title = "Meeting Application";
    Layout = "_Layout2";
}
<main class="text-center">
    <h1 class="h4">@ViewData["Hello"]</h1>
    <p>Report your meeting attendance status</p>
    
    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">The meeting will take place on @Model.Date.ToString("dd/MM/yyyy HH:mm:ss")</li>
            <li class="list-group-item">@Model.NumberOfPeople Participants</li>
        </ul>
    </div>
    
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Apply</a>
</main>